body {
  font-family: 'Sono', sans-serif;

}
.pricing-container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
.pricing-plan{
  background-color: #f2f2f2;
  text-align: center;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  
}.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 20px;
}

.plan-button {
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
}



  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {

  }